h1 {
  color: #177bff;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 10px;
}

#forecastInfo {
  text-align: center;
  margin: 20px;
  font-size: 20px;
}

#forecastDay {
  color: white;
  list-style-type: none;
}

ul {
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

#celsius {
  color: #177bff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

#currentTemp,
#currentEmoji {
  color: #177bff;
  font-size: 80px;
  text-align: right;
  line-height: 1;
}

#min1,
#min2,
#min3,
#min4,
#min5,
#windSpeed,
#humidity,
#dateTime {
  color: #fd6acb;
  font-weight: 600;
}

#forecastTemp {
  color: white;
  font-weight: 600;
}

#weather-app {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #00146b;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 10px #00177c, -2px -2px 10px 10px #00177c;
  background-color: #00146b;
  font: arial, sans-serif;
}

#currentCityInfo {
  margin: 20px;
}

form {
  margin: 0px 0px 20px 20px;
}

.entire-app {
  max-width: 800px;
  margin: 0px auto;
  color: rgb(4, 99, 143);
}
