h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
}

#accentColor,
#windSpeed,
#humidity {
  color: #f65282;
  font-weight: 600;
}

#forecastInfo {
  text-align: center;
}

li,
#forecastDay {
  color: grey;
}

#forecastTemp {
  color: #f798b4;
  font-weight: 600;
}

#currentTemp {
  color: #212121;
  font-size: 80px;
}
